.nav-item {
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.nav-item-active {
  background-color: #96bf01;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem 0;
  text-decoration: none;
  color: black;
  width: 100%;
  display: inline-block;

}

.logo {
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}
