.wrapper {
  background-image: url("https://www.pngmart.com/files/4/Corvette-Car-Transparent-Background.png");
  background-size: cover;
  background-position: center;
}

.background-tint {
  background-color: #56d364; /* Green tint */
  background-blend-mode: multiply;
}

.white-text {
  color: white !important;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 50px;
  background-color: white;
  color: green;
  padding: 10px 20px;
  border: none;
}
