.sliderwrapper {
  display: flex;
  height: 100vh;
  align-items: stretch; 
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebarWrapper {
  flex-shrink: 0;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper , .swiper{
  width: 100% !important;
}

.swiper-slide {
  width: fit-content!important;
  margin-left: 4rem;
}

.swiper-prev  {
  background-color: #97bf0f ;
  color: #97bf0f ;
  width: 5rem!important;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
z-index: 999;
cursor: pointer;
}

.swiper-next {
  background-color: #97bf0f ;
  color: #97bf0f ;
  width: 5rem!important;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: relative;
z-index: 999;
cursor: pointer;

}

.slider-btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}